{% extends 'base.html.twig' %}

{% block title %}
    single
{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <ul>
            {% for article in pagination.items %}
                <li><a href="{{ url('article_show', {"id": article.id}) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
{% endblock %}