{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.email }} - me
{% endblock %}

{% block body %}
   <table class="table">
        <tr>
            <td>email</td>
            <td>{{ user.email }}</td>
            <td><a href={{ url('user_email_change', {'id': user.id}) }}>change</a></td>
        </tr>
       <tr>
            <td>password</td>
            <td>secret</td>
            <td><a href={{ url('user_password_change', {'id': user.id}) }}>change</a></td>
        </tr>
   </table>
{% endblock %}