{% extends 'base.html.twig' %}

{% block title %}
    {{ app.user.email }}
{% endblock %}

{% block body %}
   <table class="table">
        <tr>
            <td>email</td>
            <td>{{ app.user.email }}</td>
            <td><a href={{ url('user_email_change') }}>change</a></td>
        </tr>
       <tr>
            <td>password</td>
            <td>secret</td>
            <td><a href={{ url('user_password_change') }}>change</a></td>
        </tr>
   </table>
{% endblock %}